.container {
  display: flex;
  height: 3rem;
  width: 100vw;
}

.brandContainer {
  height: 3rem;
  width: 256px
}

.projectContainer {
  align-items: center;
  display: flex;
  height: 3rem;
  margin: 0 .75rem;
}

.projectIcon {
  fill: #808594;
  height: 1rem;
  width: 1rem;
}

.projectSelectButton {
  background: transparent;
  border: 1px solid #34353e;
  border-radius: .25rem;
  color: #808594;
  cursor: pointer;
  font-size: .9rem;
  margin-left: 0.375rem;
  padding: .375rem;
  text-align: left;
  max-width: 256px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;    /* trick to push the ellipsis on the left side */  /* :contentReference[oaicite:0]{index=0} */
  text-align: left;  /* keep the text aligned left (despite rtl) */
}

.projectSelectButton:hover {
  border: 1px solid #505563;
}