.container {
  background: #2b2b32;
  border: 1px solid #31343d;
  border-radius: .25rem;
  color: #808594;
  height: calc(100vh - 3.5rem);
  margin: 0 .375rem .375rem 0.375rem;
  max-height: 100%;
  overflow: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: auto;
  flex: 1;
}