.container {
  color: #808594;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow-y: scroll;
  table-layout: fixed;
}

th {  
  background-color: #35353e;
  border-left: 1px solid #37373f;
  border-right: 1px solid #37373f;
  border-bottom: 1px solid #37373f;
  margin-left: -1px;
  width: 10%;
}

tr:hover {
  background: #303039;
  cursor: default;
}

th:first-child {
  border-left: none;
  border-right: 1px solid #37373f;
}

th:last-child {
  border-left: 1px solid #37373f;
  border-right: none;
}

td {
  margin-left: -1px;
  padding: 0.25rem;
  overflow-x: auto;
  white-space: nowrap;
}

td{ -ms-overflow-style:none; scrollbar-width:none; }
td::-webkit-scrollbar{ display:none; }

td:hover {
  background: #3b3b50;
  cursor: default;
}

td:first-child:hover {
  background: #303039;
  cursor: default;
}